.preview-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.article-preview {
    width: 26rem;
    margin-bottom: 1.3em;
    margin-right: 1em;
    overflow: hidden;
}

.article-preview-inner {
    margin: 1em;
    overflow: hidden;
}

.article-preview h4 {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 0;
}

.article-preview p {
    font-size: 1em;
    margin-top: 0;
}

.article-preview div.floatleft {
    margin-right: 1em;
}