{% extends 'base.html.twig' %}

{% block body %}
    
  <section class="medium-wide centered">
    {% if reform is defined %}
      {{ form_start(reform, { 'attr' : { 'class': 'full-wide ovase-form ovase-form-ext' }} ) }}
      {{ form_widget(reform) }}
      {{ form_end(reform) }}
    {% endif %}
  
    <a href="{{ path('deactivate_users') }}" class="btn btn-default" role="button">Deaktiver brukere</a>
  </section>

{% endblock %}
