{% extends 'base.html.twig' %}

{% block body %}

  <section class="medium-wide centered">
    {% if deform is defined %}
      {{ form_start(deform, { 'attr' : { 'class': 'full-wide ovase-form ovase-form-ext' }} ) }}
      {{ form_widget(deform) }}
      {{ form_end(deform) }}
    {% endif %}
  
    <a href="{{ path("activate_users") }}" class="btn btn-default" role="button">Aktiver brukere</a>
  </section>

{% endblock %}
