{% extends 'base.html.twig' %}

{% block body %}
	<section class ="medium-wide centered">
		<h2>Informasjon om innlogget bruker</h2>
		{% if user is defined %}
			<p>Registrert epost-adresse: {{user.Email()}}</p>
			<p>Navn: {{user.getFullName()}} </p>
		{% endif %}
	</section>
{% endblock %}
