__NOTOC__
<div class="infobox ib-tiltak">
  <div class="infobox-section">
    <h2>{{{tiltakNavn}}}</h2>
    <div class="infobox-section-content">
      <!-- If illuBildeNavn is defined, create section -->
      {{#if: {{{illuBildeNavn}}} |
      <div class="infobox-image">
        [[File:{{{illuBildeNavn}}}|thumb|300px|{{{illuBildeTekst}}}]]
      </div>| }} <!-- endif -->
    </div>
  </div>
  <!-- If skisseBildeNavn is defined, create section -->
  {{#if: {{{skisseBildeNavn}}} |
  <div class="infobox-section">
    <h3>Skisse</h3>
    <div class="infobox-section-content">
      <div class="infobox-image">
        [[File:{{{skisseBildeNavn}}}|frameless|300px]]
      </div>
    </div>
  </div>| }} <!-- endif -->
  <div class="infobox-section">
    <h3>Funksjon</h3>
    <div class="infobox-section-content">
      <ul class="clean-list">
        <li>{{{funksjon1}}}</li>
        <li>{{{funksjon2}}}</li>
        <li>{{{funksjon3}}}</li>
        <li>{{{funksjon4}}}</li>
      </ul>
    </div>
  </div>
  <div class="infobox-section">
    <h3>Tiltaksnivå</h3>
    <div class="infobox-section-content">
      <div class="infobox-image">
        [[File:{{{tiltaksNivaBildeNavn}}}|frameless|300px]]
      </div>
    </div>
  </div>
  <!-- If anlegg1 is defined, create section -->
  {{#if: {{{anlegg1}}} |
  <div class="infobox-section">
    <h3>Anlegg i Norge</h3>
    <div class="infobox-section-content">
      <ul class="clean-list">
        <li>{{{anlegg1}}}</li>
        <li>{{{anlegg2}}}</li>
        <li>{{{anlegg3}}}</li>
        <li>{{{anlegg4}}}</li>
      </ul>
    </div>
  </div>
  | }} <!-- endif -->
</div>

<noinclude>
<templatedata>
{
  "params": {
    "tiltakNavn": {
      "label": "Tiltaksnavn",
      "description": "Navnet på typen tiltak",
      "example": "Regnbed",
      "type": "string",
      "required": true
    },
    "illuBildeNavn": {
      "label": "Filnavnet til illustrasjonsbildet",
      "type": "string",
      "suggested": true,
      "example": "Regnbed.jpg"
    },
    "illuBildeTekst": {
      "label": "Bildetekst for illustrasjonsbilde",
      "type": "string",
      "suggested": true
    },
    "funksjon1": {
      "label": "Funksjon 1",
      "description": "En av tiltakets funksjoner",
      "example": "Reduserer flomtopp",
      "type": "string",
      "required": true
    },
    "funksjon2": {
      "label": "Funksjon 2",
      "description": "En av tiltakets funksjoner",
      "example": "Reduserer flomtopp",
      "type": "string",
      "suggested": true
    },
    "funksjon3": {
      "label": "Funksjon 3",
      "description": "En av tiltakets funksjoner",
      "example": "Reduserer flomtopp",
      "type": "string",
      "suggested": true
    },
    "funksjon4": {
      "label": "Funksjon 4",
      "description": "En av tiltakets funksjoner",
      "example": "Reduserer flomtopp",
      "type": "string",
      "suggested": true
    },
    "anlegg1": {
      "label": "Anlegg 1",
      "description": "URL til et anlegg som bruker dette tiltaket",
      "type": "url",
      "suggested": true
    },
    "anlegg2": {
      "label": "Anlegg 2",
      "description": "URL til et anlegg som bruker dette tiltaket",
      "type": "url",
      "suggested": true
    },
    "anlegg3": {
      "label": "Anlegg 3",
      "description": "URL til et anlegg som bruker dette tiltaket",
      "type": "url",
      "suggested": true
    },
    "anlegg4": {
      "label": "Anlegg 4",
      "description": "URL til et anlegg som bruker dette tiltaket",
      "type": "url",
      "suggested": true
    },
    "skisseBildeNavn": {
      "label": "Skisse-bilde",
      "description": "Filnavnet til en skisse som illustrerer tiltaket",
      "type": "string",
      "suggested": true,
      "example": "Regnbed-skisse.jpg"
    },
    "tiltaksNivaBildeNavn": {
      "label": "Bilde for tiltaksnivå",
      "description": "Et bilde som viser tiltaksnivå",
      "example": "Trinn12.png",
      "type": "string",
      "suggested": true
    }
  },
  "description": "Mal for et enkelt overvannstiltak, eksempelvis regnbed."
}
</templatedata>
</noinclude>