{% extends 'base.html.twig' %}

{% block title %}
  Opprett selskapsprofil
{% endblock %}

{% block body %}

  <section class="narrow centered">
    {{
      form_start(form,
        { 'attr' : { 'class': 'full-wide ovase-form ovase-form-ext' }} )
    }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <script>
    	$("#company_persons").select2({width: '25vw'});
    </script>
  </section>


{% endblock %}
