
{% extends 'base.html.twig' %}

{% block body %}
  <section class="narrow centered">

    <h2>Bruker registrert</h2>

    {# Message box #}
    <div class="form-info-box">
      <p>Din bruker er registrert, men ikke aktivert. Dette må for tiden gjøres av en redaktør. Vi prøver å gå gjennom nye brukere så ofte som mulig.</p>
    </div>

  <section class="narrow centered">
{% endblock %}
