<p>Hei {{ user.getFirstName() }}</p>

<p>Brukeren din på Ovase.no er aktivert. Velkommen til betaversjon 1.0 av Ovase.no!</p>

<p>Vi håper du vil utforske mulighetene. Er det noe du ønsker at var annerledes? Del gjerne erfaringene og tankene dine med oss via <a href="#">tilbakemeldingsskjemaet for Ovases betaversjon</a>.</p>
 
<p>Kom i gang ved å <a href="{{ newPersonRoute }}">opprette synlig profil her</a>.</p>

<p>Håper at vi sees!</p>
<p>Hilsen Ovase-teamet</p>