{% extends 'base.html.twig' %}

{% block title %}
  Prosjekt
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
{% endblock %}


{% block body %}

  {% if message is defined %}
    {% include 'general/messagebox.html.twig' %}
  {% endif %}

  {% if canEdit %}
    <section class="medium-wide centered fbox">
      <div class="w-100 w-50-ns ph2 pb3">
        <a href="{{  path('edit_project', {'id': project.getId()}) }}" class="panel-button pa3 f3 bg-ovase-dark-green white">
          <p><span class="fa fa-pencil" aria-hidden="true"></span>Rediger prosjekt</p>
        </a>
      </div>
      <div class="w-100 w-50-ns ph2 pb3">
        <a href="{{ path("create_measure_in_project", {'project_id': project.getId()}) }}" class="panel-button pa3 f3 bg-ovase-dark-green white">
          <p><span class="fa fa-plus" aria-hidden="true"></span>Legg til løsning</p>
        </a>
      </div>
    </section>
  {% endif %}

  {% include 'project/project.base.html.twig' %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <!-- Image carousel -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    // Init carousel
    $('.img-carousel').slick({
    });
    // Add click event
    $('.img-carousel-image').on('click', function(event) {
      window.location.href = event.currentTarget['src'];
    });
  });
</script>
{% endblock %}
