{% extends 'base.html.twig' %}

{% block title %}
  Rediger kommentar
{% endblock %}

{% block body %}

    <section class="narrow centered">
      {{ form(commentForm, {'attr' : { 'class': 'full-wide ovase-form ovase-form-ext' }} ) }}
    </section>

{% endblock %}
