/*
Currently using this palette:
http://www.colourlovers.com/palette/443995/i_demand_a_pancake
*/

html {
	height:100%;
	box-sizing:border-box;
	font-size: 16px;
	line-height: 1.2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: 'Lato', sans-serif !important;
	font-size: 16px;
	color: #2B2B2B;
	min-height: 100%;
	position: relative;
	margin:0;
	background-size: cover;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif !important;
}

body, p { margin: 0; }
ul, menu, dir { margin: 0; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.invis {
    visibility: hidden;
}

/* Sizing and grids */
.full-wide {
    width: 100%;
}

.pretty-wide {
    max-width: 1400px;
}

.medium-wide {
    max-width: 1000px;
}

.narrow {
    max-width: 700px;
}

.pretty-narrow {
    max-width: 550px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.fbox {
    display: flex;
    flex-wrap: wrap;
}

.fbox-unstretched { align-items: flex-start; }

.fbg1 {flex-grow: 1;}
.fbg2 {flex-grow: 2;}
.fbg3 {flex-grow: 3;}
.fbg4 {flex-grow: 4;}
.fbg5 {flex-grow: 5;}
.fbg6 {flex-grow: 6;}

/* Common colours */
.bg-ovase-pearl-aqua { background-color: #79C7C5; }
.bg-ovase-green { background-color: #C9F299; }
.bg-ovase-dark-green { background-color: #136F63; }
.bg-ovase-peach { background-color: #FFE0B5; }
.bg-ovase-yellow { background-color: #EDE580; }
.white { color: #ffffff; }

/* Icons */
.fa { padding-right: 0.3em; }

/* Forms */
button, input, select {
    background-color: #fff;
}

button,
.ovase-form button,
.ovase-form input[type="submit"],
.ovase-form input[type="text"],
.ovase-form input[type="search"],
.ovase-form input[type="email"],
.ovase-form input[type="password"],
.ovase-form textarea,
.ovase-form select
 {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    border-radius: 0.125rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

.ovase-form ::placeholder { color: #A2A2A2; }

.form-errors {
    color: #E7040F;
}

.ovase-form-ext label {
    font-size: 1.2em;
    margin-top: 0.8em;
    display: block;
}

.ovase-form-ext button {
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
}

.ovase-form input[type="text"],
.ovase-form input[type="email"],
.ovase-form input[type="password"],
.ovase-form-ext textarea,
.ovase-form-ext select {
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.ovase-form-ext input[type="checkbox"] {
    margin-right: 1rem;
}

.ovase-form-ext label.required::after {
    content: "*";
}

.ovase-form-ext .help-block {
    display: block;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    color: #666666;
}

.form-info-box {
    background-color: #FFE0B5;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem;
    margin: 2rem 0;
}

/* Tables */
.ovase-table {
	font-size: 1.2rem;
	width: 100%;
}

.ovase-table tr { border-bottom: 1px dashed #79C7C5; }
.ovase-table tr:last-child { border-bottom: none; }
.ovase-table td { padding: 0.75rem; }
.ovase-table td:first-child { font-weight: bold; }

.rm-link-style {
    text-decoration: none;
    color: inherit;
}

.rm-link-style:visited { color: inherit; }

.plain-card {
    display: block;
    padding: 1rem;
    background-color: #EAEAEA;
}

/*** HEADER AND NAVIGATION ***/

header {
    overflow:auto;
    height: 68px;
}

#header-logo {
    display: block;
    float: left;
    padding: 10px 0;
    height: 68px;
}

#header-logo img {
	float: left;
    width: 48px;
    /*width: 100px;*/
}

header h1 {
    color: #fff;
    display: block;
    float: left;
    margin: 14px 0 0 1rem;
    font-size: 40px;
    letter-spacing: 0.08em;
    font-weight: bold;
    line-height: 22px;
}

nav {
    display: block;
    float: left;
    margin-left: 3rem;
    height: 100%;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 0;
}

header li {
    display: inline-block;
    height: 100%;
    margin: 0;
    font-size: 1.5rem;
}

header li a {
    text-decoration: none;
    display: block;
}

nav a {
    color: #525252;
	height: 68px;
	padding-top: 31px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

nav a:hover {
    color: #525252;
    background-color: #FFFFFF;
}

nav a.active { border-bottom: 6px solid white; }

.user-panel {
    display: block;
    float: right;
}

.user-panel a {
	font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-left: 1.4em;
    color: #505050;
}

.user-panel a:hover {
    color: #FFFFFF;
}

/*** MAIN ***/

main { padding-top: 2rem; }

.message-box {
	background-color: #FFE0B5;
	width: 100%;
	padding: 1rem;
}

/*** HOME ***/

.mission-box {
    background-color: #136F63;
    width: 100%;
    color: #fff;
    justify-content: space-between;
}

.mission-box span {
	display: inline-block;
	font-size: 8rem;
	width: 8rem;
	margin-right: 1.5rem;
	float: left;
	padding: 0;
}

.mission-box > div { display: inline; }

a.section-card {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: 1.4rem;
	height: 100%;
}

.section-card:hover {
	background-color: #136F63;
	color: #fff !important;
}

a.section-card:visited { color: inherit; }

a.section-card img {
	display: inline-block;
	width: 30%;
	float: left;
	margin-right: 1vw;
	margin-bottom: 1vw;
}

a.section-card h2 {
	text-align: center;
	font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
	a.section-card p {
		font-size: 1rem;
	}
}

/*** PROJECT LIST CONTROLS ***/

#proj-list-controls {
    min-height: 22rem;
    background-color: #F0F0F0;
}

#proj-basic-search {
    display: flex;
    flex-wrap: wrap;
}

#proj-basic-search input {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#proj-basic-search button {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

#proj-filtering fieldset {
    margin-top: 0.25em;
    padding-bottom: 0; 
}

#proj-filtering legend {
    border-bottom: 0;
}

#proj-filtering .compact-legend {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
}

#proj-list-map { min-height: 22rem; }

#proj-list-map h1 { font-size: 1.4rem; }

/*** PROJECT LIST ***/

.proj-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proj-box h2 {
    margin-top: -1rem;
}

.proj-box h4 {
	margin: 0.4rem 0;
}

#projects a {
	text-decoration: none;
	color: inherit;
	height: 100%;
	height: 16rem;
}

#projects a:hover {
	background-color: #D2F8FF;
}

#projects > div {
    margin-bottom: 2rem;
}

a.section-card:visited { color: inherit; }

/*** FOOTER ***/

footer {
	margin-top: 3rem;
	padding-top: 1rem;
	background-color: #FFE0B5;
	box-shadow: 0px 500px 0px 500px #FFE0B5;
	font-size: 1.2rem;
}

footer a {
	text-decoration: none;
	color: #13918E
}

/*** PROJECT PAGE ***/

a.panel-button {
	display: block;
	text-decoration: none;
}

a.panel-button:hover {
	background-color: #C9F299;
}

.basics {
	background-color: #E4E4E4;
	height: 100%;
}

.fact-row { font-size: 1.1rem; }

.fact-row p { margin-bottom: 0.7rem; }

.fact-label {
	font-weight: bold;
	display: inline-block;
	width: 10rem;
}

.fact-row ul {
	margin-top: 0.5rem;
	margin-left: 5rem;
}

.img-carousel {
	background-color: #E4E4E4;
}

.img-carousel .img-carousel-image:hover {
	cursor: pointer;
}

.img-carousel button.slick-arrow:before {
	color: #7CFFE2;
	font-size: 2rem;
}

.img-carousel button.slick-prev {
	left: 20px;
	z-index: 20;
}

.img-carousel button.slick-next {
	right: 20px;
	z-index: 20;
}

/*** NEW/EDIT PROJECT PAGE ***/

.craue_formflow_steplist {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.craue_formflow_steplist li {
    justify-content: space-between;
    width: 33.33%;
    text-align: center;
    padding: 1rem;
    background-color: #ECECEC;
    list-style: decimal inside;
}

.craue_formflow_steplist a {
    color: inherit;
    text-decoration: none;
}

.craue_formflow_current_step {
    font-weight: bold;
}


.button-finish {
    background-color: #136F63;
    color: #fff;
}

.proj-preview {
    width: 100%;
    background-color: #EBFDFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.proj-preview .basics {
    background-color: #FFE0B5;
}

/*** ACTOR LIST ***/

.actor-search label {
    margin-top: 0.6rem;
    color: #fff;
    margin-left: 0.6rem;
    display: inline-block;
    font-size: 1.5rem;
    width: 6rem;
}

.actor-search input {
    display: inline-block;
    width: 70%;
    float: right;
    margin-top: 0.2rem;
    margin-right: 0.6rem;
    margin-bottom: 0;
}

.actor-search button {display: none;}

.actor-cards a {
    text-decoration: none;
    color: inherit;
}

.actor-cards a:hover {
    background-color: #E0FFFF;
}

/*** ACTOR PAGE ***/

.actor-image { max-height: 25rem; }

.actor-image img {
    display: block;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
}

.actor-ul a {text-decoration: none; }

/*** ACTIVE / DEACTIVATE USERS PAGE ***/

#form_users label {
    display: inline;
}