<!DOCTYPE html>
<html>
<head>
  <title>Basic MessageBox</title>
  <link rel="stylesheet" href="mbox-basic.css">
</head>
<body>
  <div class="messagebox">
    <img src="iconmonstr-warning-6.svg.png" alt="Message box image">
    <p>Crypto-voodoo god sprawl knife sensory RAF network shanty town table sentient render-farm denim rebar. Free-market construct nodality modem drone skyscraper engine Chiba urban. Receding faded rebar advert pistol boat car realism sentient digital sub-orbital nano-tattoo.</p>
  </div>
</body>
</html>